
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: white;
    text-align: center;
}
/*cabeçalho*/
header {
    position: relative;
    background: black;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid gold;
    
}
header h1{
  color: gold;
}
header span{
  color:white;
}
.barbeiro {
   margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
  margin-top: 30px;
}
header img{
    position: absolute;
    left: 30px;
    width: 50px;
    height: 50px;
    background: gold;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
header img:hover{
  background: goldenrod;
  box-shadow: 2px, 2px, 0, gold;
}
#escolha {
  
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
} 

/*corpo*/
.agendamento, .servicos {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
}
.estilo-corte{ 
  background: #222;
 box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
 padding: 7px;
 cursor: pointer;
}
.estilo-corte:hover{ 
  background: #333;
  
 box-shadow: 0px 0px 10px gold;
}
h2 {
    color: gold;
    margin-bottom: 10px;
}

.dias {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.dia {
    padding: 10px;
    background: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dia[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: auto;
    padding: 10px 20px; 
    cursor: pointer;
}

button:hover {
    background: orange;
}
/*classe adicionada apos agendamento*/
    .popup {
            z-index: 1000;
            width: 70%;
            height: 600px;
            background-color: white;
            border: 1px solid black;
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
           
        }
        .popup button{
         
          bottom: 0;
        }
        .mostrar {
            display: block; /* Classe para exibir a div */
        }